<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Destinasi Wisata</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Madutour</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"></ul>
        </div>
      </div>
    </nav>
    <!-- Product section-->

    <!-- Related items section-->
    <% for(var i = 0; i < data_wisata.length; i++){ %>
    <div class="card container mt-auto py-5">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img
            src="/images/upload/<%= data_wisata[i].gambar %>"
            class="card-img"
            alt="..."
          />
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-primary font-weight-bold">
                <%= data_wisata[i].nama %>
              </h5>
              <p class="card-text text-muted"><%= data_wisata[i].alamat %></p>
              <p class="card-text">
                <i class="fas fa-map-marker-alt"></i> <%=
                data_wisata[i].deskripsi %>
              </p>
              <h6 class="card-subtitle mb-2 text-muted">Konsumsi</h6>
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-utensils"></i>- <%= data_wisata[i].makan %>
                </li>
                <li>
                  <i class="fas fa-coffee"></i>- <%= data_wisata[i].minum %>
                </li>
                <br />
                <h6 class="card-subtitle mb-2 text-muted">Kegiatan</h6>
                <ul class="list-unstyled">
                    <% const activities = data_wisata[i].kegiatan.split('\n'); // Split kegiatan by newline %>
                    <% activities.forEach(activity => { %>
                        <li><i class="fas fa-coffee"></i> <%= activity.trim() %></li> 
                    <% }); %>
                </ul>
                <br>
                <h6 class="card-subtitle mb-2 text-muted">Kapasitas</h6>
                <li>
                  <i class="fas fa-coffee"></i>- <%= data_wisata[i].kapasitas %>
                </li>
                <br>
                <li>
                  <i class="fas fa-money-bill-wave"
                    >Cuma dengan harga Rp<%= data_wisata[i].harga %></i
                  >
                </li>
                <br />

          
              </ul>
            </div>
          </div>
        </div>

        <div class="d-flex">
          <a
            type="button"
            href="/users/create/<%= data_wisata[i].id_paket %>"
            class="btn btn-secondary ms-auto"
            >boking</a
          >
        </div>
      </div>
    </div>
    <% } %>

    <!-- Footer-->
    <footer class="py-3 bg-dark mt-auto">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2023
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>
